.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.book-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
  margin: 20px 0px 30px 0px;
}

.book-line-divider {
  height: 1px;
  width: 100%;
  z-index: 1;
  padding: 0px 25px;
  margin: 0px 0px 35px 0px;
  max-width: 700px;
}

.book-line-divider line {
  stroke: var(--clr-divider);
  stroke-width: 1px;
}

.book-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-flair-left,
.title-flair-right {
  fill: var(--clr-title-flair);
  width: 35px;
  height: 35px;
}
.title-flair-left {
  margin: 0px 20px 0px 0px;
}
.title-flair-right {
  transform: scaleX(-1);
  margin: 0px 0px 0px 20px;
}

.book-header-pretext {
  font-family: 'Merriweather', sans-serif;
  font-size: 1.35em;
  line-height: 1;
  font-weight: 200;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--clr-text-blue);
  width: auto;
  text-align: center;
  margin: 0px 0px 20px 0px;
  cursor: default;
}

.book-title-text {
  font-family: 'Sacramento', sans-serif;
  font-size: 2.5em;
  line-height: 1;
  font-weight: 200;
  color: var(--clr-text-blue);
  width: auto;
  text-align: center;
  cursor: default;
}

.book-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: var(--clr-light);
}

.book-details-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--clr-break);
  padding: 0px 0px 30px 0px;
  margin: 0px 0px 20px 0px;
}

.book-detail-image-container {
  width: 235px;
  height: 300px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}

.book-detail-flair-container {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--clr-light);
  border: 1px solid var(--clr-break);
  border-top-right-radius: 6px;
  padding: 14px 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 100px;
  max-height: 30px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.book-detail-flair {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1;
  font-style: italic;
  transform: scale(125%);
  color: var(--clr-text-grey);
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
  cursor: default;
}

.book-detail-image-wrapper,
.book-detail-image-wrapper.inactive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  transition: filter 0.5s ease-in-out;
  z-index: 0;
  cursor: pointer;
}
.book-detail-image-wrapper.inactive {
  opacity: 0.5;
}

.book-detail-image,
.book-detail-image.inactive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
  cursor: pointer;
}
.book-detail-image.inactive {
  filter: grayscale(100%);
}
.book-detail-image.blur-load {
  filter: blur(10px);
  transition: filter 0.5s ease;
}
.book-detail-image.loaded {
  filter: none;
}

.book-detail-image-wrapper.blur-load {
  filter: blur(10px);
}

.book-detail-image-wrapper.loaded {
  filter: none;
}

.book-detail-image-wrapper.loaded .book-detail-image {
  opacity: 1;
}

.book-detail-cover-icon {
  height: 100%;
  width: 100%;
  fill: var(--clr-icon);
  transform: scaleX(108%);
  transition: opacity 0.5s ease-in-out;
}
.book-detail-cover-icon.inactive {
  filter: grayscale(100%);
  opacity: 0.3;
}

.book-detail-info-container {
  margin: 0px 10px 0px 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-detail-info-header {
  display: flex;
  flex-direction: column;
}

.book-detail-title-text {
  font-family: 'Lato', sans-serif;
  font-size: 1.9em;
  font-weight: 600;
  line-height: 1.05;
  transform: scaleY(95%);
  color: var(--clr-text-blue);
  margin: 0px 0px 5px 0px;
  cursor: default;
}

.book-detail-author-text {
  font-family: 'Lato', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
  line-height: 1;
  transform: scaleY(95%);
  color: var(--clr-text-grey);
  margin: 0;
  cursor: default;
}

.book-detail-available {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  line-height: 1;
  transform: scaleY(95%);
  color: var(--clr-member-green);
  border: 1px solid var(--clr-member-green);
  margin: 8px 0px 0px 0px;
  width: 80px;
  text-align: center;
  padding: 3px 1px 3px 1px;
  border-radius: 8px;
  cursor: default;
}

.book-detail-unavailable {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  line-height: 1;
  transform: scaleY(95%);
  color: var(--clr-moyenne);
  border: 1px solid var(--clr-moyenne);
  margin: 8px 0px 0px 0px;
  width: 92px;
  text-align: center;
  padding: 3px 1px 3px 1px;
  border-radius: 8px;
  cursor: default;
}

.book-detail-quantity {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1;
  transform: scaleY(90%);
  font-style: italic;
  color: var(--clr-icon);
  margin: 0px 0px 10px 0px;
}

.staff-book-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.reserve-button,
.hold-button {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  line-height: 1;
  font-weight: 400;
  height: 40px;
  width: 50%;
  padding: 0.75rem;
  background-color: var(--clr-text-blue);
  color: var(--clr-light);
  border: none;
  cursor: pointer;
  max-width: 360px;
  transition: all 0.15s ease-in-out;
}
.reserve-button {
  width: 100%;
}
.hold-button:hover,
.hold-button:hover {
  background-color: var(--clr-text-blue-hover);
  width: 50%;
}
.reserve-button:hover {
  background-color: var(--clr-text-blue-hover);
}

.book-details-info-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 20px;
}

.book-details-item-container,
.book-details-column-container {
  display: flex;
}
.book-details-item-container {
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.book-details-column-container {
  flex-direction: column;
  gap: 5px;
}

.book-details-category-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book-details-label-text {
  font-family: 'Merriweather', serif;
  font-size: 1.15em;
  font-weight: 600;
  line-height: 1.2;
  transform: scaleY(90%);
  color: var(--clr-text-blue);
}

.book-details-text,
.book-details-description,
.book-details-number-text,
.book-details-category-text,
.book-details-no-rating-text {
  font-family: 'Patrick Hand', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: var(--clr-text-grey);
}
.book-details-description {
  font-size: 1.2em;
  line-height: 1.2;
}
.book-details-text {
  font-size: 1.25em;
  transform: scaleY(85%);
}
.book-details-number-text {
  font-size: 1.2em;
  transform: scaleY(85%);
}
.book-details-category-text {
  font-size: 1.25em;
  transform: scaleY(85%);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.book-details-multi-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.book-details-category-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 5px 2px 2px;
  width: auto;
  gap: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.book-details-language-flag {
  width: 25px;
  margin: 1px 0px 0px 0px;
}

.book-details-star-icon {
  width: 18px;
}

.book-details-book-open-icon {
  width: 20px;
  fill: var(--clr-icon);
}

.book-details-categories-icon {
  width: 22px;
  fill: var(--clr-icon);
  margin: 2px 0px 0px 0px;
}

.book-details-category-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.policy-button {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  line-height: 1;
  font-weight: 400;
  width: 130px;
  height: 35px;
  padding: 0.25rem;
  color: var(--clr-light);
  background-color: var(--clr-text-blue);
  border: none;
  cursor: pointer;
  margin: 20px 0px 0px 0px;
}
.policy-button:hover {
  background-color: var(--clr-text-blue-hover);
}

.book-bookmark-toggle-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.bookmark-icon {
  width: 30px;
  height: 35px;
  fill: var(--clr-divider);
  cursor: pointer;
  margin: 0px 0px 0px 5px;
  transition: all 0.15s ease-in-out;
}
.bookmark-icon:hover {
  fill: var(--clr-icon);
}

.more-books-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0px 0px 0px;
}

.more-books-header-title {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 25px 0px;
}

.more-books-title-flair-left,
.more-books-title-flair-right {
  fill: var(--clr-title-flair);
  width: 35px;
  height: 35px;
}
.more-books-title-flair-left {
  margin: 0px 20px 0px 0px;
}
.more-books-title-flair-right {
  transform: scaleX(-1);
  margin: 0px 0px 0px 20px;
}

.more-books-title-text {
  font-family: 'Sacramento', sans-serif;
  font-size: 2.5em;
  line-height: 1;
  font-weight: 200;
  color: var(--clr-text-blue);
  width: auto;
  text-align: center;
}

@media screen and (max-width: 840px) {
  .book-details {
    max-width: 700px;
  }
}

@media screen and (max-width: 700px) {
  .staff-book-buttons {
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }
  .edit-button,
  .hold-button {
    width: 100%;
  }
  .reserve-button {
    max-width: unset;
  }
  .book-detail-info-container {
    margin: 0px 10px 0px 10px;
    width: 250px;
  }
}

@media screen and (max-width: 650px) {
  .book-details {
    padding: 20px 15px 20px 15px;
  }
}

@media screen and (max-width: 600px) {
  .book-details {
    position: relative;
  }
  .book-details-header {
    flex-direction: column;
    padding: 0px 0px 10px 0px;
  }
  .book-bookmark-toggle-container {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .book-detail-info-container {
    margin: 20px 0px 10px 0px;
    width: 100%;
    gap: 30px;
  }
  .staff-book-buttons {
    flex-direction: row;
    width: 100%;
    gap: 5px;
  }
  .edit-button,
  .hold-button {
    width: 50%;
  }
}
