.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
  transition: all 0.15s ease-in-out;
}
.menu-overlay.fade-in {
  animation: overlayFadeIn 0.3s forwards;
}
.menu-overlay.fade-out {
  animation: overlayFadeOut 0.3s forwards;
}

.menu-container {
  background-color: var(--clr-background);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  z-index: 1001;
  transition: opacity 0.5s ease-in;
  position: relative;
  min-width: 300px;
}
.menu-container.fade-in {
  animation: containerFadeIn 0.3s forwards;
}
.menu-container.fade-out {
  animation: containerFadeOut 0.3s forwards;
}

.menu-portal-top-toggles {
  width: 100%;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
}

.menu-language-toggle {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.menu-x-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  fill: var(--clr-break);
}
.menu-x-icon:hover {
  fill: var(--clr-dark);
}

.menu-header {
  display: flex;
  justify-content: center;
  margin: 0px 0px 20px 0px;
  width: 100%;
}

.menu-header-text {
  font-family: 'Sacramento', sans-serif;
  font-size: 2.5em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-text-blue);
  cursor: default;
}

.menu-header-subtext {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-dark);
  width: 100%;
  text-align: center;
  margin: 0px 0px 5px 0px;
  cursor: default;
}

.menu-flair-left,
.menu-flair-right {
  fill: var(--clr-title-flair);
  width: 35px;
  height: 35px;
}
.menu-flair-left {
  margin: 0px 20px 0px 0px;
}
.menu-flair-right {
  transform: scaleX(-1);
  margin: 0px 0px 0px 20px;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  pointer-events: none;
}

.menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 2px 0px;
  transition: background-color 0.3s ease;
  background-color: transparent;
  width: 95%;
  gap: 4px;
  transition: all 0.15s ease-in-out;
  pointer-events: auto;
  height: 50px;
}
.menu-link.hovered {
  width: 100%;
}
.menu-link.inactive {
  opacity: 0.85;
  width: 95%;
}
.menu-link.inactive {
  background-color: var(--clr-background-light);
}

.menu-link-line-divider {
  height: 1px;
  width: 100%;
  z-index: 1;
  transition: all 0.15s ease-in-out;
}
.menu-link-line-divider line {
  stroke: var(--clr-icon);
  stroke-width: 1px;
}
.menu-link-line-divider.active line,
.menu-link-line-divider.hovered line {
  stroke: var(--clr-moyenne);
}
.menu-link-line-divider.inactive line {
  stroke: var(--clr-divider);
}

.menu-link-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  transition: all 0.15s ease-in-out;
}
.menu-link-text-container.hovered {
  gap: 15px;
}

.menu-link-icons-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  transition: all 0.15s ease-in-out;
  width: 100%;
  padding: 0px 5px;
}

.menu-link-type-icon {
  width: 20px;
  height: 20px;
  fill: var(--clr-icon);
  transition: all 0.15s ease-in-out;
}
.menu-link-type-icon.active,
.menu-link-type-icon.hovered {
  fill: var(--clr-moyenne);
}
.menu-link-type-icon.inactive {
  fill: var(--clr-divider);
}

.menu-link-text {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 1.1rem;
  color: var(--clr-text-blue);
  letter-spacing: 1px;
  transform: scaleX(110%);
  transition: all 0.15s ease-in-out;
}
.menu-link-text.active {
  color: var(--clr-moyenne);
}
.menu-link-text.hovered {
  color: var(--clr-moyenne);
}
.menu-link-text.inactive {
  color: var(--clr-divider);
}

.menu-link-icon {
  width: 16px;
  height: 16px;
  fill: var(--clr-divider);
  margin: 0px 0px 3px 0px;
}
.menu-link-icon.hovered {
  fill: var(--clr-moyenne);
}

.profile-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  background-color: var(--clr-light);
  border: 1px solid var(--clr-divider);
  padding: 6px 8px;
  border-radius: 8px;
  cursor: pointer;
  pointer-events: auto;
  transition: all 0.15s ease-in-out;
  margin: 15px 0px 0px 0px;
}
.profile-link:hover {
  border: 1px solid var(--clr-icon);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.profile-link.inactive {
  opacity: 0.6;
  filter: grayscale(50%);
}

.menu-user-image-container {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 0px 0px;
}

.menu-user-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.menu-user-image-background {
  position: absolute;
  background-color: var(--clr-light);
  width: 45px;
  height: 45px;
}

.menu-user-icon {
  width: 45px;
  height: 45px;
  fill: var(--clr-break);
}

.menu-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-profile-link-text {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  color: var(--clr-icon);
  letter-spacing: 1px;
  line-height: 1.1;
  font-weight: 600;
  transform: scaleY(90%);
  transition: all 0.15s ease-in-out;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-profile-link-name {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: var(--clr-dark);
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 600;
  transform: scaleY(90%);
  transition: all 0.15s ease-in-out;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-profile-link-email {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8rem;
  color: var(--clr-icon);
  font-style: italic;
  line-height: 1.2;
  transform: scaleY(90%);
  transition: all 0.15s ease-in-out;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-profile-membership-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin: 2px 0px 0px 0px;
}

.menu-membership-active,
.menu-membership-expiring,
.menu-membership-none {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1.2;
  transform: scaleY(90%);
  padding: 3px 5px 4px 5px;
  border-radius: 8px;
  width: auto;
  text-align: center;
}
.menu-membership-active {
  border: 1px solid var(--clr-member-green);
  color: var(--clr-member-green);
}
.menu-membership-expiring {
  border: 1px solid var(--clr-moyenne);
  color: var(--clr-moyenne);
}
.menu-membership-none {
  border: 1px solid var(--clr-error);
  color: var(--clr-error);
}
