.sidebar-wrapper {
  overflow: hidden;
  transition: all 0.75s ease-in-out;
  margin: 0px 0px 25px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.books-sidebar-container {
  width: 169px;
  padding: 20px 20px 0px 10px;
  border-right: 1px solid var(--clr-divider);
  height: 100%;
  transition: all 0.75s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}

.sidebar-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  margin: 10px 0px 0px 0px;
}

.sidebar-line-divider {
  height: 100%;
  width: 1px;
  z-index: 1;
  padding: 0px 5px 0px 0px;
  transition: all 0.15s ease-in-out;
}
.sidebar-line-divider.shown {
  opacity: 1;
}
.sidebar-line-divider.hidden {
  opacity: 0;
}
.sidebar-line-divider line {
  stroke: var(--clr-divider);
  stroke-width: 1px;
}

.sidebar-content-header-text,
.sidebar-content-header-text-view-mode {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  line-height: 1;
  transform: scaleY(90%);
  color: var(--clr-dark);
  margin: 10px 0px 15px 0px;
  cursor: default;
}
.sidebar-content-header-text {
  font-size: 1.25em;
}
.sidebar-content-header-text-view-mode {
  font-size: 1.1em;
}

.sidebar-content-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-categories-container,
.sidebar-language-options,
.sidebar-sorting-options,
.sidebar-view-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  margin: 0px 0px 10px 0px;
}
.sidebar-sorting-container,
.sidebar-view-setting {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px 0px 0px 0px;
}

.sidebar-unavailable-toggle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.hidden-icon-container {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 2px 0px 0px 0px;
}

.hidden-icon,
.shown-icon {
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.hidden-icon {
  width: 25px;
  height: 14px;
  fill: var(--clr-divider);
}
.shown-icon {
  width: 20px;
  height: 12px;
  margin: 0px 0px 0px 3px;
}
.hidden-icon:hover,
.sidebar-content-unavailable-deselected:hover + .hidden-icon {
  fill: var(--clr-icon);
}
.shown-icon {
  fill: var(--clr-dark);
}
.sidebar-content-unavailable-deselected:hover + .hidden-icon {
  fill: var(--clr-icon);
}

.sidebar-content-item,
.sidebar-content-item-selected,
.sidebar-content-unavailable-selected,
.sidebar-content-item-deselected,
.sidebar-content-unavailable-deselected {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.35;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.15s ease-in-out;
}
.sidebar-content-item,
.sidebar-content-item-selected,
.sidebar-content-item-deselected {
  padding: 0px 8px 0px 0px;
}
.sidebar-content-unavailable-selected,
.sidebar-content-unavailable-deselected {
  padding: 0px 0px 0px 0px;
}
.sidebar-content-item {
  color: var(--clr-icon);
}
.sidebar-content-item-selected,
.sidebar-content-unavailable-selected {
  color: var(--clr-dark);
}
.sidebar-content-item-deselected,
.sidebar-content-unavailable-deselected {
  color: var(--clr-divider);
}
.sidebar-content-item-deselected:hover,
.sidebar-content-unavailable-deselected:hover {
  color: var(--clr-icon);
}
.sidebar-content-item:hover {
  color: var(--clr-dark);
}

.books-sidebar-container[style*='translateX(0%)'] .sidebar-content {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.3s;
}

.edit-categories-sidebar-toggle-container {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 15px 0px 5px 0px;
  padding: 5px 0px 0px 0px;
}

.edit-categories-sidebar-toggle-text {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 400;
  font-style: italic;
  color: var(--clr-icon);
  margin: 2px 0px 0px 0px;
  cursor: pointer;
  transform: scaleY(90%);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.15s ease-in-out;
}

.sidebar-category-flair {
  font-family: 'Lato', sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  font-style: italic;
  transform: scaleY(90%);
  color: var(--clr-text-blue);
  text-transform: uppercase;
  z-index: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin: 1px 0px 0px 0px;
}

.gear-icon-sidebar {
  width: 10px;
  height: 10px;
  fill: var(--clr-icon);
  margin: 2px 0px 0px 5px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.gear-icon-sidebar:hover {
  fill: var(--clr-dark);
}
.edit-categories-sidebar-toggle-text:hover {
  color: var(--clr-dark);
}
.edit-categories-sidebar-toggle-text:hover + .gear-icon-sidebar {
  fill: var(--clr-dark);
}

.sidebar-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin: 5px 0px;
}

.sidebar-glue {
  width: 30px;
}
.sidebar-scissors {
  width: 60px;
}
.sidebar-marker2 {
  width: 60px;
}
.sidebar-marker4 {
  width: 70px;
}
.sidebar-tape {
  width: 45px;
}
.sidebar-pencil {
  width: 50px;
}
.sidebar-paperclip {
  width: 30px;
  transform: rotate(90deg);
  fill: var(--clr-toute);
}
.sidebar-ruler {
  width: 60px;
}

.close-sidebar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 8px;
  overflow: hidden;
}

.close-sidebar-text {
  font-family: 'Indie Flower', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1;
  color: var(--clr-icon);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  transform: scaleY(90%);
}
.close-sidebar-text:hover {
  color: var(--clr-dark);
}

.sidebar-close-icon {
  fill: var(--clr-icon);
  width: 12px;
  height: 12px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  margin: 0px 0px 0px 0px;
}
.sidebar-close-icon:hover {
  fill: var(--clr-dark);
}
.close-sidebar-text:hover + .sidebar-close-icon {
  fill: var(--clr-dark);
}
