.gap {
  height: 60px;
}

.page-container {
  padding: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-color: var(--clr-background);
  transition: background-color 1s ease;
}

.blur-load,
.loading {
  position: relative;
  background-size: cover;
  filter: blur(2px);
  transition: filter 0.5s ease-in-out;
  overflow: hidden;
}

.blur-load img,
.loading img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.blur-load.loaded,
.loading.loaded {
  filter: blur(0);
}

.blur-load.loaded img,
.loading.loaded img {
  opacity: 1;
}
