.gap {
  height: 60px;
}

.page-container {
  min-height: calc(100vh - 125px);
  margin: 125px 0px 0px 0px;
  padding: 0px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-color: var(--clr-light);
  transition: background-color 1s ease;
}
