.book-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
  margin: 20px 0px;
}

.book-header-title {
  display: flex;
  flex-direction: row;
}

.title-flair-left,
.title-flair-right {
  fill: var(--clr-title-flair);
  width: 50px;
  height: 50px;
}
.title-flair-left {
  margin: 0px 20px 0px 0px;
}
.title-flair-right {
  transform: scaleX(-1);
  margin: 0px 0px 0px 20px;
}

.book-title-text {
  font-family: 'Sacramento', sans-serif;
  font-size: 3.5em;
  line-height: 1;
  font-weight: 200;
  color: var(--clr-text-blue);
  width: auto;
  text-align: center;
}

.book-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: var(--clr-light);
  max-width: 700px;
}

.book-details-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--clr-break);
  padding: 0px 0px 30px 0px;
  margin: 0px 0px 20px 0px;
}

.book-detail-image-container {
  width: 235px;
  height: 300px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
}

.book-detail-flair-container {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--clr-light);
  border: 1px solid var(--clr-break);
  border-top-right-radius: 4px;
  padding: 14px 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 100px;
  max-height: 30px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.book-detail-flair {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1;
  font-style: italic;
  transform: scale(125%);
  color: var(--clr-dark);
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}

.book-detail-image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  transition: filter 0.5s ease-in-out;
  z-index: 0;
  cursor: pointer;
}

.book-detail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.book-detail-image-wrapper.blur-load {
  filter: blur(10px);
}

.book-detail-image-wrapper.loaded {
  filter: none;
}

.book-detail-image-wrapper.loaded .book-detail-image {
  opacity: 1;
}

.book-detail-cover-icon {
  height: 100%;
  width: 100%;
  fill: var(--clr-icon);
  transform: scaleX(108%);
}

.book-detail-info-container {
  margin: 0px 10px 0px 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-detail-info-header {
  display: flex;
  flex-direction: column;
}

.book-detail-title-text {
  font-family: 'Lato', sans-serif;
  font-size: 1.9em;
  font-weight: 600;
  line-height: 1.05;
  transform: scaleY(95%);
  color: var(--clr-text-blue);
  margin: 0px 0px 5px 0px;
}

.book-detail-author-text {
  font-family: 'Lato', sans-serif;
  font-size: 1.35em;
  font-weight: 400;
  line-height: 1;
  transform: scaleY(95%);
  color: var(--clr-text-grey);
  margin: 0;
}

.book-detail-available {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  line-height: 1;
  transform: scaleY(95%);
  color: var(--clr-member-green);
  border: 1px solid var(--clr-member-green);
  margin: 8px 0px 0px 0px;
  width: 80px;
  text-align: center;
  padding: 3px 1px 3px 1px;
  border-radius: 8px;
}

.book-detail-unavailable {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  line-height: 1;
  transform: scaleY(95%);
  color: var(--clr-moyenne);
  border: 1px solid var(--clr-moyenne);
  margin: 8px 0px 0px 0px;
  width: 92px;
  text-align: center;
  padding: 3px 1px 3px 1px;
  border-radius: 8px;
}

.book-detail-quantity {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1;
  transform: scaleY(90%);
  font-style: italic;
  color: var(--clr-icon);
  margin: 0px 0px 10px 0px;
}

.staff-book-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.book-details-info-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 20px;
}

.book-details-item-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book-details-category-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.book-details-label-text {
  font-family: 'Merriweather', serif;
  font-size: 1.15em;
  font-weight: 600;
  line-height: 1.2;
  transform: scaleY(90%);
  color: var(--clr-text-blue);
}

.book-details-text,
.book-details-number-text,
.book-details-category-text,
.book-details-no-rating-text {
  font-family: 'Patrick Hand', sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: var(--clr-text-grey);
}
.book-details-text {
  font-size: 1.25em;
  transform: scaleY(85%);
}
.book-details-number-text {
  font-size: 1.6em;
  transform: scaleY(85%);
}
.book-details-category-text {
  font-size: 1.25em;
  transform: scaleY(85%);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.book-details-category-text:hover {
  color: var(--clr-text-blue);
}

.book-details-multi-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.book-details-language-flag {
  width: 25px;
  margin: 1px 0px 0px 0px;
}

.book-details-star-icon {
  width: 20px;
}

.book-details-book-open-icon {
  width: 22px;
  fill: var(--clr-icon);
  margin: 3px 0px 0px 0px;
}

.book-details-categories-icon {
  width: 22px;
  fill: var(--clr-icon);
  margin: 2px 0px 0px 0px;
}

.book-details-category-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.policy-button {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  line-height: 1;
  font-weight: 400;
  width: 130px;
  height: 35px;
  padding: 0.25rem;
  color: var(--clr-light);
  background-color: var(--clr-text-blue);
  border: none;
  cursor: pointer;
  margin: 20px 0px 0px 0px;
}
.policy-button:hover {
  background-color: var(--clr-text-blue-hover);
}

.book-bookmark-toggle-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.bookmark-icon {
  width: 30px;
  height: 35px;
  fill: var(--clr-divider);
  cursor: pointer;
  margin: 0px 0px 0px 5px;
}
.bookmark-icon:hover {
  fill: var(--clr-icon);
}

.more-books-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0px 0px 0px;
}

.more-books-header-title {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 25px 0px;
}

.more-books-title-flair-left,
.more-books-title-flair-right {
  fill: var(--clr-title-flair);
  width: 35px;
  height: 35px;
}
.more-books-title-flair-left {
  margin: 0px 20px 0px 0px;
}
.more-books-title-flair-right {
  transform: scaleX(-1);
  margin: 0px 0px 0px 20px;
}

.more-books-title-text {
  font-family: 'Sacramento', sans-serif;
  font-size: 2.5em;
  line-height: 1;
  font-weight: 200;
  color: var(--clr-text-blue);
  width: auto;
  text-align: center;
}
