.home-header {
  max-width: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 50px 0px;
  border-bottom: 1px solid var(--clr-divider);
  margin: 0px 0px 90px 0px;
}

.home-header-image-container {
  max-width: 950px;
  max-height: 500px;
  overflow: hidden;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0px 20px;
}

.home-header-image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  transition: filter 0.5s ease-in-out;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.home-header-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 350px;
  background-color: var(--clr-background);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 15px;
}

.home-header-pretext {
  font-family: 'Merriweather', serif;
  font-size: 1.6em;
  font-weight: 200;
  line-height: 1.2;
  color: var(--clr-text-blue);
  text-decoration: underline;
}

.home-header-title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-header-title-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-header-title-text {
  font-family: 'Sacramento', sans-serif;
  font-size: 2.9em;
  line-height: 1;
  font-weight: 400;
  color: var(--clr-text-blue);
  width: auto;
  text-align: center;
}

.home-header-title-subtext {
  font-family: 'Sacramento', sans-serif;
  font-size: 2.5em;
  line-height: 1;
  font-weight: 400;
  color: var(--clr-text-blue);
  width: auto;
  text-align: center;
}

.home-header-subtext-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.home-header-subtext {
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.2;
  transform: scaleY(90%);
}
.home-header-subtext.blue {
  color: var(--clr-text-blue);
}
.home-header-subtext.light-blue {
  color: var(--clr-light-blue);
}
.home-header-subtext.orange {
  color: var(--clr-orange);
}

.home-content-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
  margin: 20px 0px 40px 0px;
}

.home-content-header-title {
  display: flex;
  flex-direction: row;
}

.title-flair-left,
.title-flair-right {
  fill: var(--clr-title-flair);
  width: 50px;
  height: 50px;
}
.title-flair-left {
  margin: 0px 20px 0px 0px;
}
.title-flair-right {
  transform: scaleX(-1);
  margin: 0px 0px 0px 20px;
}

.home-content-title-text {
  font-family: 'Sacramento', sans-serif;
  font-size: 3.5em;
  line-height: 1;
  font-weight: 200;
  color: var(--clr-text-blue);
  width: auto;
  text-align: center;
}

.home-letter-container {
  width: 100%;
}

.home-content-books-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
