.letter-wrapper {
  padding: 10px;
  background-color: var(--clr-light);
  margin: 0px 0px 25px 0px;
}

.letter-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0px;
  background-color: var(--clr-light);
  width: 650px;
  border: 1px solid var(--clr-divider);
}

.letter-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: center;
  margin: 30px 0px 40px 0px;
}

.letter-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.letter-title-flair.left,
.letter-title-flair.right {
  fill: var(--clr-title-flair);
  width: 40px;
  height: 40px;
}
.letter-title-flair.left {
  margin: 0px 20px 0px 0px;
  transform: scaleX(-1);
}
.letter-title-flair.right {
  margin: 0px 0px 0px 20px;
}

.letter-title-text {
  font-family: 'Sacramento', sans-serif;
  font-size: 2.5em;
  line-height: 1;
  font-weight: 200;
  color: var(--clr-text-blue);
  width: auto;
  text-align: center;
}

.plane-container {
  display: flex;
  justify-content: center;
  transform: scaleX(180%);
}

.letter-content-container {
  display: flex;
  flex-direction: row;
}

.letter-content-margin {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  padding: 0px 0px 120px 0px;
}

.letter-content-main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0px 10px;
  margin: 0px 0px 20px 0px;
}

.letter-content-text {
  font-family: 'Indie Flower', cursive;
  font-size: 1.1em;
  line-height: 1.35;
  font-weight: 500;
  color: var(--clr-text-grey);
}

.letter-signature-title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin: 10px 0px 0px 0px;
}

.letter-content-signature,
.letter-content-title {
  font-weight: 500;
  line-height: 1.35;
  color: var(--clr-text-grey);
  width: 100%;
  text-align: left;
  margin: 0px 0px 0px 0px;
}
.letter-content-signature {
  font-size: 1.8em;
  font-family: 'Sacramento', cursive;
}
.letter-content-title {
  font-family: 'Indie Flower', cursive;
  font-size: 1.1em;
}

.letter-footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px 0px 10px 0px;
}

.plant-icon,
.grass-icon,
.flower-icon,
.butterfly-icon,
.beanstalk-icon {
  width: 45px;
  height: 45px;
}
.grass-icon {
  fill: var(--clr-grass);
}
.flower-icon {
  transform: scaleX(-1);
}
.butterfly-icon {
  fill: var(--clr-butterfly);
}
.grass-icon.right {
  transform: scaleX(-1);
}

.crayon-icon {
  height: 60px;
  width: 60px;
}
