.book-create-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
  transition: opacity 0.5s ease-in-out;
}

.book-create-container {
  background-color: var(--clr-background);
  padding: 2rem 2rem 0rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  z-index: 1001;
  transition: opacity 0.5s ease-in;
  position: relative;
  min-width: 300px;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.portal-top-toggles {
  width: 100%;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
}

.book-create-language-toggle {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.book-create-lang-toggle {
  color: var(--clr-break);
}
.book-create-lang-toggle:hover {
  color: var(--clr-dark);
}

.book-create-x-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  fill: var(--clr-break);
}
.book-create-x-icon:hover {
  fill: var(--clr-dark);
}

.book-create-flair-left,
.book-create-flair-right {
  fill: var(--clr-title-flair);
  width: 35px;
  height: 35px;
}
.book-create-flair-left {
  margin: 0px 10px 0px 0px;
}
.book-create-flair-right {
  transform: scaleX(-1);
  margin: 0px 0px 0px 10px;
}

.book-create-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 20px 0px;
  width: 100%;
  min-width: 299px;
}

.book-create-input {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-dark);
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--clr-outline);
  border-radius: 4px;
  background-color: var(--clr-light);
}

.book-create-flair-quantity-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 0.3rem;
}

.book-create-flair-input,
.book-create-quantity-input {
  padding: 0.75rem;
  border: 1px solid var(--clr-outline);
  border-radius: 4px;
  background-color: var(--clr-light);
  color: var(--clr-dark);
}
.book-create-flair-input {
  width: 100%;
  height: 45px;
}
.book-create-quantity-input {
  width: 100%;
  height: 45px;
}

.category-container {
  margin-top: 10px;
}

.category-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 0px 6px 2px;
}

.category-title-garbage-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 8px 0px 0px;
}

.category-book-add-scoll {
  height: 100px;
  overflow: hidden;
  overflow-y: auto;
  margin: 0px 0px 10px 0px;
  padding: 0px 5px 0px 0px;
}

.category-book-add-scoll::-webkit-scrollbar {
  width: 6px;
  margin: 0px 0px 0px 5px;
}

.category-book-add-scoll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.category-book-add-scoll::-webkit-scrollbar-thumb {
  background-color: var(--clr-icon);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.category-book-add-scoll::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-dark);
}

.category-item,
.category-item-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--clr-outline);
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 5px;
  background-color: var(--clr-light);
}
.category-item-checkbox {
  cursor: pointer;
}
.category-item-checkbox:hover {
  border: 1px solid var(--clr-text-blue);
}

.category-label {
  display: flex;
  align-items: center;
}

.category-checkbox {
  cursor: pointer;
  margin: 0px 5px 0px 0px;
  background-color: var(--clr-light);
}

.category-list-container {
  display: flex;
  align-items: center;
}

.category-list {
  cursor: pointer;
  margin: 0px 5px 0px 0px;
  background-color: var(--clr-light);
}

.category-text,
.category-quantity {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  color: var(--clr-dark);
}
.category-text {
  font-weight: 300;
}
.category-quantity {
  font-weight: 500;
}

.category-quantity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px 0px 10px;
}

.book-icon {
  width: 18px;
  margin: 0px 5px 0px 0px;
  fill: var(--clr-icon);
}

.book-add-desc-input,
.category-desc-input {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 300;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--clr-outline);
  border-radius: 4px;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  min-height: 42px;
  max-height: 300px;
  resize: vertical;
}
.book-add-desc-input {
  height: 100px;
}
.category-desc-input {
  height: 42px;
}

.book-add-desc-input::-webkit-scrollbar,
.category-desc-input::-webkit-scrollbar {
  width: 6px;
  margin: 0px 0px 0px 5px;
}

.book-add-desc-input::-webkit-scrollbar-track,
.category-desc-input::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.book-add-desc-input::-webkit-scrollbar-thumb,
.category-desc-input::-webkit-scrollbar-thumb {
  background-color: var(--clr-icon);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.book-add-desc-input::-webkit-scrollbar-thumb:hover,
.category-desc-input::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-dark);
}

.drag-icon {
  width: 15px;
  height: 15px;
  fill: var(--clr-icon);
}
.drag-icon:hover {
  fill: var(--clr-dark);
}
.drag-icon:active {
  cursor: grabbing;
}

.gear-icon {
  width: 12px;
  height: 12px;
  fill: var(--clr-icon);
  margin: 2px 0px 0px 5px;
  cursor: pointer;
}
.gear-icon:hover {
  fill: var(--clr-dark);
}

.trash-icon,
.check-icon {
  width: 12px;
  height: 12px;
  fill: var(--clr-icon);
  margin: 2px 0px 0px 5px;
  cursor: pointer;
}
.trash-icon:hover {
  fill: var(--clr-error);
}
.check-icon:hover {
  fill: var(--clr-success);
}

.category-title {
  font-family: 'Lato', sans-serif;
  font-size: 0.95em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-dark);
}

.form-gap {
  width: 100%;
  border-bottom: 1px solid var(--clr-break);
  margin: 15px 0px 10px 0px;
}

.book-create-header-text {
  font-family: 'Sacramento', sans-serif;
  font-size: 2.4em;
  line-height: 0.9;
  font-weight: 300;
  color: var(--clr-text-blue);
  width: auto;
  text-align: center;
}

.book-create-header-subtext {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-dark);
  width: 100%;
  text-align: center;
  margin: 0px 0px 5px 0px;
}

.error-message {
  color: #ff0000;
  margin: -5px 0px 5px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  line-height: 1;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.scrollable-container {
  overflow-y: auto;
  max-height: calc(100vh - 8rem);
  padding-bottom: 2rem;
}

.scrollable-container::-webkit-scrollbar {
  width: 6px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: var(--clr-icon);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-dark);
}

.book-create-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0px 0px 0px;
}

.book-create-label-text {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-icon);
  margin: 0px 0px 2px 5px;
}

.book-create-language-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

.book-create-language-input,
.book-create-flag-input {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-dark);
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid var(--clr-outline);
  border-radius: 4px;
  background-color: var(--clr-light);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 8px;
}
.book-create-language-input {
  padding: 0.75rem;
}
.book-create-flag-input {
  padding: 2px 0.75rem;
}

.create-flag {
  width: 60px;
  border: 1px solid var(--clr-transparent);
  border-radius: 4px;
  opacity: 1;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.create-flag.selected {
  opacity: 1;
}
.create-flag.unselected {
  opacity: 0.2;
}

.book-create-required,
.book-create-no-categories {
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  line-height: 1;
  font-weight: 300;
  font-style: italic;
  color: var(--clr-dark);
  cursor: pointer;
  width: 100%;
}
.book-create-required {
  text-align: right;
  margin: -6px 0px 3px 0px;
}
.book-create-no-categories {
  text-align: left;
  margin: 3px 0px 6px 2px;
}

.book-create-footer-text {
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-text-blue);
  cursor: pointer;
  text-decoration: underline;
}

.category-label-text {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-icon);
  margin: 0px 0px 2px 5px;
}

.category-icon-container {
  width: 100%;
  background-color: var(--clr-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  gap: 5px;
  margin: 0px 0px 5px 0px;
  border: 1px solid var(--clr-outline);
  border-radius: 4px;
}

.category-icon {
  border: 1px solid var(--clr-outline);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.13s ease-in-out;
}

.icon-selected {
  border: 1px solid var(--clr-outline);
}

.icon-inactive {
  border: 1px solid var(--clr-outline);
  background-color: var(--clr-outline);
  opacity: 0.3;
}
.icon-inactive:hover {
  opacity: 1;
  background-color: var(--clr-light);
}

.category-color-container {
  width: 100%;
  background-color: var(--clr-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  gap: 5px;
  margin: 0px 0px 8px 0px;
  border: 1px solid var(--clr-outline);
  border-radius: 4px;
}

.category-color-option {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.13s ease-in-out;
  border: 1px solid var(--clr-transparent);
}

.color-selected {
  border: 1px solid var(--clr-icon);
}

.color-inactive {
  border: 1px solid var(--clr-transparent);
  opacity: 0.2;
}
.color-inactive:hover {
  opacity: 1;
}
