.edit-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
  transition: opacity 0.5s ease-in-out;
}
.edit-overlay.fade-in {
  animation: overlayFadeIn 0.3s forwards;
}
.edit-overlay.fade-out {
  animation: overlayFadeOut 0.3s forwards;
}

.edit-container,
.edit-profile-container {
  background-color: var(--clr-background);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  z-index: 1001;
  transition: opacity 0.5s ease-in;
  position: relative;
  min-width: 300px;
}
.edit-container {
  padding: 2rem 2rem 0rem 2rem;
}
.edit-profile-container {
  padding: 2rem;
}
.edit-profile-container.fade-in {
  animation: containerFadeIn 0.3s forwards;
}
.edit-profile-container.fade-out {
  animation: containerFadeOut 0.3s forwards;
}

.portal-top-toggles {
  width: 100%;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
}

.edit-language-toggle {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
}

.edit-lang-toggle {
  color: var(--clr-break);
}
.edit-lang-toggle:hover {
  color: var(--clr-dark);
}

.edit-x-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  width: 15px;
  height: 15px;
  fill: var(--clr-break);
}
.edit-x-icon:hover {
  fill: var(--clr-dark);
}

.user-edit-input {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 300;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--clr-outline);
  border-radius: 4px;
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.user-delete-upload-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.user-image-delete-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.user-edit-image-container {
  width: 75px;
  height: 75px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-transparent);
  position: relative;
  z-index: 5;
  transition: all 0.15s ease-in-out;
}
.user-edit-image-container.selected {
  border: 1px solid var(--clr-error);
}

.user-edit-placeholder-container {
  width: 55px;
  height: 55px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-transparent);
  position: relative;
  z-index: 5;
  transition: all 0.15s ease-in-out;
}

.user-edit-image-x-container,
.user-edit-image-trash-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 5px;
  background-color: var(--clr-light);
  border: 1px solid var(--clr-break);
  z-index: 10;
  transition: all 0.15s ease-in-out;
}
.user-edit-image-x-container {
  opacity: 1;
}
.user-edit-image-trash-container {
  opacity: 0;
}
.user-image-delete-container:hover .user-edit-image-trash-container {
  opacity: 1;
}

.user-edit-trash-icon,
.user-edit-trash-x {
  width: 12px;
  fill: var(--clr-icon);
  cursor: pointer;
}
.user-edit-trash-icon:hover {
  fill: var(--clr-error);
}
.user-edit-trash-x:hover {
  fill: var(--clr-dark);
}

.image-thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-error);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 4;
}
.image-thumbnail-overlay.selected {
  opacity: 0.4;
}

.user-edit-image-wrapper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  transition: filter 0.5s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.user-edit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.user-edit-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 15px;
  fill: var(--clr-icon);
}

.image-file-upload {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 70%;
  overflow: hidden;
}

.image-file-text {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 300;
}

.user-edit-name-inputs {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.user-edit-name-input {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-dark);
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--clr-outline);
  border-radius: 4px;
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

.edit-header {
  display: flex;
  justify-content: center;
  margin: 0px 0px 20px 0px;
  width: 100%;
  min-width: 299px;
}

.edit-header-text {
  font-family: 'Sacramento', sans-serif;
  font-size: 2.4em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-text-blue);
  width: auto;
  text-align: center;
  cursor: default;
}

.edit-header-subtext {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-dark);
  width: 100%;
  text-align: center;
  margin: 0px 0px 5px 0px;
  cursor: default;
}

.edit-flair-left,
.edit-flair-right {
  fill: var(--clr-title-flair);
  width: 35px;
  height: 35px;
}
.edit-flair-left {
  margin: 0px 10px 0px 0px;
}
.edit-flair-right {
  transform: scaleX(-1);
  margin: 0px 0px 0px 10px;
}

.error-message {
  color: #ff0000;
  margin: -5px 0px 5px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  line-height: 1;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.edit-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0px 0px 0px;
}

.edit-required {
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  line-height: 1;
  font-weight: 300;
  font-style: italic;
  color: var(--clr-dark);
  cursor: pointer;
  width: 100%;
  text-align: right;
  margin: -6px 0px 3px 0px;
}

.edit-footer-text {
  font-family: 'Lato', sans-serif;
  font-size: 0.8em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-text-blue);
  cursor: pointer;
  text-decoration: underline;
}
