.mini-list-container {
  width: 480px;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px 0px 0px;
}

.mini-list-container-prev {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-list-container-next {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-list-prev,
.mini-list-next {
  fill: var(--clr-icon);
  width: 15px;
  height: auto;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.mini-list-prev {
  transform: scaleX(-1);
}
.mini-list-prev:hover,
.mini-list-next:hover {
  fill: var(--clr-dark);
}
.mini-list-prev.disabled,
.mini-list-next.disabled {
  cursor: default;
  opacity: 0.25;
  fill: var(--clr-icon);
}
.mini-list-prev.disabled:hover,
.mini-list-next.disabled:hover {
  cursor: default;
  opacity: 0.25;
  fill: var(--clr-icon);
}

.mini-list-slider-container {
  padding: 0px 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mini-list-slider,
.mini-list-loading-slider {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.mini-list-slider {
  justify-content: space-evenly;
}
.mini-list-loading-slider {
  justify-content: center;
  align-items: center;
}

.mini-list-book-card {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid var(--clr-transparent);
  border-radius: 4px;
  padding: 10px;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.mini-list-book-card:hover {
  transform: scale(105%);
}

.mini-list-image-container {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 3;
  display: flex;
}

.mini-list-cover-icon {
  width: 100%;
  height: auto;
  transform: scaleY(102%);
  fill: var(--clr-icon);
  margin: 1px 0px 0px 0px;
}

.mini-list-bookmark-toggle-container {
  position: absolute;
  top: 2px;
  left: 4px;
  z-index: 2;
}

.mini-list-bookmark-icon {
  fill: var(--clr-light);
  width: 14px;
  transition: all 0.15s ease-in-out;
}
.mini-list-bookmark-icon-bookmarked {
  fill: var(--clr-light);
  width: 14px;
  transition: all 0.15s ease-in-out;
}
.mini-list-bookmark-icon:hover {
  transform: scale(110%);
}
.mini-list-bookmark-icon-bookmarked:hover {
  transform: scale(110%);
}
.mini-list-bookmark-icon {
  opacity: 0;
}
.mini-list-book-card:hover .mini-list-bookmark-icon {
  opacity: 1;
}

.mini-list-flair-container {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: var(--clr-light);
  border: 1px solid var(--clr-break);
  border-top-right-radius: 4px;
  padding: 3px 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 65px;
  max-height: 30px;
  z-index: 2;
}

.mini-list-flair {
  font-family: 'Lato', sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  line-height: 1;
  font-style: italic;
  transform: scaleY(90%);
  color: var(--clr-dark);
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mini-list-image-wrapper {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 4px;
  z-index: 0;
}

.mini-list-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  z-index: 1;
}

.mini-list-image.loaded {
  opacity: 1;
}
