.on-hold-container {
  display: flex;
  flex-direction: column;
}

.on-hold-info-icons-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.on-hold-info-container {
  display: flex;
  flex-direction: column;
  width: 82%;
  gap: 10px;
}

.on-hold-header,
.no-on-hold-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book-clipart {
  width: 145px;
  height: 145px;
  margin: 0px 5px 0px 0px;
}

.no-on-hold-header-text {
  color: var(--clr-text-blue);
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 600;
  transform: scaleY(85%);
  margin: 0px 0px 45px 0px;
  padding: 0px 10px 0px 0px;
  width: 300px;
  cursor: default;
}

.on-hold-icons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 18%;
  gap: 10px;
  justify-content: space-between;
}
.ruler-icon {
  width: 80px;
}
.tape-icon {
  width: 60px;
}

.marker-icon,
.pencil-icon,
.pen-icon {
  width: 60px;
  height: 50px;
}

.on-hold-header-text {
  font-family: 'Inter', sans-serif;
  font-size: 1.15em;
  line-height: 1;
  font-weight: 400;
  font-weight: bold;
  margin: 0;
  color: var(--clr-text-grey);
  cursor: default;
}

.on-hold-book-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.on-hold-book-link {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.on-hold-book-image-container {
  margin-right: 16px;
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.on-hold-book-image-wrapper {
  width: 100px;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in-out;
}
.on-hold-book-image-container:hover .on-hold-book-image-wrapper {
  transform: scale(102%);
}

.on-hold-book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-clipart-placeholder {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.on-hold-book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.on-hold-book-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin: 0px 0px 3px 0px;
}

.status-active,
.status-reserved,
.status-late {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 400;
  border-radius: 50px;
  text-align: center;
  padding: 3px 0px 2px 0px;
  width: 75px;
}
.status-active {
  color: var(--clr-member-green);
  background-color: var(--clr-light);
  border: 1px solid var(--clr-member-green);
}
.status-reserved {
  color: var(--clr-moyenne);
  background-color: var(--clr-light);
  border: 1px solid var(--clr-moyenne);
}
.status-late {
  color: var(--clr-error);
  border: 1px solid var(--clr-error);
}

.on-hold-x-icon {
  width: 10px;
  fill: var(--clr-icon);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.on-hold-x-icon:hover {
  fill: var(--clr-dark);
}

.on-hold-book-title {
  font-family: 'Merriweather', sans-serif;
  font-size: 1.15em;
  line-height: 1.2;
  font-weight: 400;
  font-weight: bold;
  margin: 0;
  color: var(--clr-text-blue);
  margin: 0px 0px 2px 0px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.on-hold-book-title:hover {
  color: var(--clr-moyenne);
}

.on-hold-book-author {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 1.1em;
  line-height: 1.25;
  font-weight: 400;
  margin: 0;
  color: var(--clr-text-grey);
  transform: scaleY(90%);
  margin: 1px 0px 0px 0px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.on-hold-book-date {
  font-size: 0.9em;
  color: #888;
}

.on-hold-book-language-rating {
  display: flex;
  align-items: center;
  margin: 2px 0px 8px 0px;
}

.on-hold-book-language {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  color: var(--clr-icon);
  transform: scaleY(90%);
  margin-right: 2px;
}

.book-language-flag {
  width: 18px;
  height: auto;
  margin: 0px 4px 0px 4px;
}

.pipe-icon {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  color: var(--clr-divider);
  transform: scaleY(90%);
  margin: 0px 4px 0px 0px;
  font-size: 0.9em;
  color: #888;
}

.rating-container {
  display: flex;
  align-items: center;
}

.on-hold-star-icon {
  width: 11px;
  height: 11px;
  color: gold;
}

.on-hold-book-rating {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  font-weight: 400;
  margin: 0;
  color: var(--clr-icon);
  transform: scaleY(90%);
  margin-left: 4px;
}

.no-on-hold-header-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.on-hold-dates-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.on-hold-date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.on-hold-book-date-text,
.on-hold-book-due-date-text {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1em;
  line-height: 1;
  font-weight: 600;
  margin: 0;
  color: var(--clr-text-grey);
  transform: scaleY(95%);
  letter-spacing: -1.1px;
}

.on-hold-book-date,
.on-hold-book-due-date {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 1.1em;
  line-height: 1;
  font-weight: 400;
  margin: 1px 0px 0px 0px;
  color: var(--clr-icon);
  transform: scaleY(90%);
}

.remove-hold-button {
  font-family: 'Lato', sans-serif;
  font-size: 0.75em;
  line-height: 1;
  font-weight: 400;
  height: 28px;
  padding: 0.4rem;
  background-color: var(--clr-light);
  color: var(--clr-icon);
  border: 1px solid var(--clr-icon);
  cursor: pointer;
  max-width: 130px;
  transition: all 0.15s ease-in-out;
  margin: 4px 0px 0px 0px;
}
.remove-hold-button {
  width: 100%;
}
.remove-hold-button:hover {
  color: var(--clr-error);
  border: 1px solid var(--clr-error);
}
