.rental-history-container {
  background-color: var(--clr-light);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rental-history-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rental-history-header-text {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--clr-text-grey);
  margin: 8px 0px 6px 0px;
  cursor: default;
}

.history-search-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--clr-divider);
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--clr-light);
  transition: border-color 0.3s;
  width: 100%;
  min-width: 250px;
  max-width: 350px;
}

.history-search-container:focus-within {
  border-color: var(--clr-highlight);
}

.history-search-input {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  border: none;
  padding: 5px 7px;
  outline: none;
  flex: 1;
  min-width: 0;
}

.history-filter-setting {
  border-left: 1px solid var(--clr-divider);
}

.history-filter-dropdown {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  padding: 6px 8px;
  color: var(--clr-icon);
  background-color: var(--clr-light);
  border: none;
  outline: none;
  cursor: pointer;
  width: 120px;
  flex-shrink: 0;
}

.rental-history-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.rental-history-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;
  gap: 15px;
  background-color: var(--clr-light);
  justify-content: space-between;
}

.rental-history-line-divider {
  height: 1px;
  width: 100%;
  z-index: 1;
  padding: 0px 25px;
  margin: 0px 0px 5px 0px;
}

.rental-history-line-divider line {
  stroke: var(--clr-divider);
  stroke-width: 1px;
}

.history-book-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.history-icons-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100px;
}

.history-icon {
  width: 50px;
  max-height: 50px;
  fill: var(--clr-toute);
}

.history-book-icon {
  height: 100px;
  width: 67px;
  transition: all 0.15s ease-in-out;
}
.history-book-image-container:hover .history-book-icon {
  transform: scale(102%);
}

.history-book-image-container {
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-book-image-wrapper {
  height: 100px;
  width: 67px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in-out;
}
.history-book-image-container:hover .history-book-image-wrapper {
  transform: scale(102%);
}

.history-book-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.history-book-image-wrapper.loaded .history-book-image {
  opacity: 1;
}

.history-book-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  height: 100px;
}

.history-book-details {
  width: 250px;
}

.history-book-title {
  font-family: 'Merriweather', sans-serif;
  font-size: 1.15em;
  line-height: 1.15;
  font-weight: bold;
  color: var(--clr-text-blue);
  margin: 4px 0px 0px 0px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history-book-title:hover {
  color: var(--clr-moyenne);
}

.history-book-author {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 1.1em;
  line-height: 1;
  color: var(--clr-text-grey);
  margin: 6px 0px 4px 0px;
  transform: scaleY(90%);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history-book-language-rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.history-book-language-container {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.history-book-language {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 0.85em;
  line-height: 1;
  color: var(--clr-icon);
  transform: scaleY(90%);
  margin: 0px 3px 0px 0px;
}

.history-language-flag {
  width: 16px;
  height: auto;
  margin: 2px 0px 0px 0px;
}

.history-pipe-icon {
  font-family: 'Lato', sans-serif;
  text-align: left;
  font-size: 0.9em;
  font-weight: 400;
  color: var(--clr-icon);
  width: 10px;
  height: auto;
  margin: 0px 0px 2px -2px;
  text-align: center;
}

.rating-container {
  display: flex;
  align-items: center;
}

.history-star-icon {
  width: 11px;
  height: 11px;
  transform: scaleY(95%);
}

.history-star-icon-grey {
  width: 11px;
  height: 11px;
  transform: scaleY(95%);
  margin: 3px 0px 0px 0px;
}

.history-book-rating {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 0.85em;
  color: var(--clr-icon);
  transform: scaleY(90%);
  margin: 0px 4px 1px 0px;
}

.history-book-status {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 4px 0px 0px 0px;
}

.status-active,
.status-reserved,
.status-late {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  border-radius: 50px;
  text-align: center;
  padding: 3px 0px 2px 0px;
  width: 75px;
}
.status-returned {
  font-family: 'Lato', sans-serif;
  font-size: 0.85em;
  font-weight: 400;
  border-radius: 50px;
  text-align: center;
  width: 75px;
}

.status-active {
  color: var(--clr-member-green);
  background-color: var(--clr-light);
  border: 1px solid var(--clr-member-green);
}

.status-reserved {
  color: var(--clr-moyenne);
  background-color: var(--clr-light);
  border: 1px solid var(--clr-moyenne);
}

.status-late {
  color: var(--clr-error);
  background-color: var(--clr-light);
  border: 1px solid var(--clr-error);
}

.status-returned {
  color: var(--clr-toute);
  background-color: var(--clr-light);
  border: 1px solid var(--clr-toute);
}

.history-book-dates-status-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: 'Titillium Web', sans-serif;
}

.history-book-dates {
  display: flex;
  flex-direction: column;
  font-family: 'Titillium Web', sans-serif;
}

.history-date-row {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 22px;
}

.history-date-label {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--clr-text-grey);
  letter-spacing: -1.1px;
}

.history-date-value {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 1.1em;
  color: var(--clr-icon);
  transform: scaleY(90%);
}

.history-item-count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px 0px 0px 10px;
}

.history-item-count-text {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  color: var(--clr-text-grey);
  letter-spacing: -1px;
}

.history-item-count {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 1.1em;
  color: var(--clr-icon);
  transform: scaleY(90%);
  margin: 2px 0px 0px 0px;
}

.history-load-more-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.load-more-button {
  width: 300px;
  border: none;
  background-color: var(--clr-light);
  border: 1px solid var(--clr-text-blue);
  color: var(--clr-text-blue);
  transition: all 0.15s ease-in-out;
}
.load-more-button:hover {
  background-color: var(--clr-text-blue);
  border: 1px solid var(--clr-text-blue);
  color: var(--clr-light);
}
