.about-fallback-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px 20px 20px 20px;
}

.book-fallback-line-divider {
  height: 1px;
  width: 100%;
  z-index: 1;
  padding: 0px 25px;
  margin: 20px 0px 20px 0px;
  max-width: 950px;
}

.about-fallback-header-image-container {
  max-width: 950px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.about-fallback-header-text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-background);
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 40px;
}

.about-fallback-header-pretext {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0px 0px 0px;
}

.about-fallback-header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4px;
}

.about-fallback-header-subtext {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4px;
}

.about-fallback-membership-container,
.about-fallback-introduction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 950px;
  width: 100%;
  padding: 20px;
}

.about-fallback-introduction-image,
.about-fallback-membership-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-fallback-intro-content,
.about-fallback-member-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 500px;
  justify-content: space-between;
  align-items: center;
}
.about-fallback-intro-content {
  background-color: var(--clr-section-orange);
}
.about-fallback-member-content {
  background-color: var(--clr-section-blue);
}

.about-fallback-content-icon {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.about-fallback-content-icon.right {
  justify-content: flex-end;
}
.about-fallback-content-icon.left {
  justify-content: flex-start;
}

.about-fallback-content-title {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0px 0px 25px 0px;
}

.about-fallback-content-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px 0px 15px 0px;
  align-items: center;
  gap: 4px;
}

.about-fallback-letter-container {
  width: 650px;
  background-color: var(--clr-light);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.about-fallback-letter-header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 50px 0px 40px 0px;
  gap: 4px;
}

.about-fallback-letter-title-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.about-fallback-letter-content-container {
  display: flex;
  flex-direction: row;
}

.about-fallback-letter-content-margin {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  padding: 0px 0px 80px 0px;
}

.about-fallback-letter-content-main {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 0px 10px;
  margin: 0px 0px 20px 0px;
}

.about-fallback-letter-content-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 4px;
}

.about-fallback-letter-content-text {
  font-family: 'Indie Flower', cursive;
  font-size: 1.1em;
  line-height: 1.35;
  font-weight: 500;
  color: var(--clr-text-grey);
}

.about-fallback-letter-signature-title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin: 10px 0px 0px 0px;
  gap: 4px;
  margin: 0px 0px 15px 0px;
}

.about-fallback-letter-content-signature,
.about-fallback-letter-content-title {
  font-weight: 500;
  line-height: 1.35;
  color: var(--clr-text-grey);
  width: 100%;
  text-align: left;
  margin: 0px 0px 0px 0px;
}

.about-fallback-letter-footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px 0px 30px 0px;
}
