.not-found-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 0px 0px 45px 0px;
}

.not-found-container {
  padding: 10px;
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 950px;
  min-width: 650px;
  width: 100%;
}

.not-found-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 10px 0px 25px 0px;
}

.not-found-header-text {
  font-family: 'Sacramento', sans-serif;
  font-size: 2.8em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-text-blue);
  display: flex;
  justify-content: center;
  width: auto;
}

.not-found-flair-left,
.not-found-flair-right {
  fill: var(--clr-title-flair);
  width: 45px;
  height: 45px;
}
.not-found-flair-left {
  margin: 0px 20px 0px 0px;
}
.not-found-flair-right {
  transform: scaleX(-1);
  margin: 0px 0px 0px 20px;
}

.not-found-header-text-container {
  margin: 0px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.not-found-header-subtext-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-header-subtext {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-dark);
  width: 100%;
  text-align: center;
  margin: 0px 0px 5px 0px;
}

.not-found-content-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.not-found-content {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  margin: 0px 20px 0px 0px;
}

.not-found-globe-clipart {
  height: 190px;
  width: auto;
  margin: 0px 0px 10px 0px;
}

.not-found-content-links-container {
  display: flex;
  flex-direction: column;
}

.not-found-text-hand {
  font-family: 'Patrick hand', sans-serif;
  font-size: 1.3em;
  color: var(--clr-text-grey);
  margin: 0px 0px 5px 0px;
  letter-spacing: 0.5px;
}

.not-found-content-links {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.not-found-content-link-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 28px;
}

.not-found-bullet-point {
  width: 8px;
  height: 8px;
  fill: var(--clr-icon);
  margin: 0px 18px 4px 0px;
  transition: all 0.15s ease-in-out;
}
.not-found-bullet-point.selected {
  fill: var(--clr-text-blue);
}
.not-found-bullet-point.deselected {
  fill: var(--clr-divider);
  opacity: 0.95;
}

.not-found-content-link-text {
  font-family: 'Patrick hand', sans-serif;
  font-size: 1em;
  color: var(--clr-icon);
  margin: 0px 0px 5px 0px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.not-found-content-link-text.selected {
  color: var(--clr-text-blue);
}
.not-found-content-link-text.deselected {
  color: var(--clr-divider);
  opacity: 0.95;
}

.not-found-hand-icon {
  width: 22px;
  height: 18px;
  margin: 0px 0px 3px 15px;
  fill: var(--clr-icon);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.not-found-hand-icon.selected {
  fill: var(--clr-text-blue);
  margin: 0px 0px 3px 20px;
}
.not-found-hand-icon.deselected {
  fill: var(--clr-divider);
  opacity: 0.95;
}
