.restricted-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 0px 0px 45px 0px;
}

.restricted-container {
  padding: 10px;
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 950px;
  width: 100%;
}

.restricted-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 25px 0px;
}

.restricted-header-text {
  font-family: 'Marriweather', serif;
  font-size: 3.5em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-text-blue);
  transform: scaleY(90%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  display: flex;
  justify-content: center;
  cursor: default;
  text-align: center;
}

.restricted-alert-left,
.restricted-alert-right {
  width: 52px;
  height: 52px;
}
.restricted-alert-left {
  margin: 0px 20px 0px 0px;
}
.restricted-alert-right {
  transform: scaleX(-1);
  margin: 0px 0px 0px 20px;
}

.restricted-header-text-container {
  margin: 0px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}

.restricted-header-subtext-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restricted-header-subtext {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  line-height: 1;
  font-weight: 300;
  color: var(--clr-dark);
  width: 100%;
  text-align: center;
  margin: 0px 0px 5px 0px;
  cursor: default;
}

.restricted-content-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.restricted-content {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  margin: 0px 20px 0px 0px;
}

.restricted-stop-clipart {
  height: 140px;
  width: auto;
  margin: 0px 0px 10px 0px;
}

.restricted-content-links-container {
  display: flex;
  flex-direction: column;
}

.restricted-text-hand {
  font-family: 'Patrick hand', sans-serif;
  font-size: 1.3em;
  color: var(--clr-text-grey);
  margin: 0px 0px 5px 0px;
  letter-spacing: 0.5px;
  cursor: default;
}

.restricted-content-links {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.restricted-content-link-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 28px;
}

.restricted-bullet-point {
  width: 8px;
  height: 8px;
  fill: var(--clr-icon);
  margin: 0px 18px 4px 0px;
  transition: all 0.15s ease-in-out;
}
.restricted-bullet-point.selected {
  fill: var(--clr-text-blue);
}
.restricted-bullet-point.deselected {
  fill: var(--clr-divider);
  opacity: 0.95;
}

.restricted-content-link-text {
  font-family: 'Patrick hand', sans-serif;
  font-size: 1em;
  color: var(--clr-icon);
  margin: 0px 0px 5px 0px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.restricted-content-link-text.selected {
  color: var(--clr-text-blue);
}
.restricted-content-link-text.deselected {
  color: var(--clr-divider);
  opacity: 0.95;
}

.restricted-hand-icon {
  width: 22px;
  height: 18px;
  margin: 0px 0px 3px 15px;
  fill: var(--clr-icon);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.restricted-hand-icon.selected {
  fill: var(--clr-text-blue);
  margin: 0px 0px 3px 20px;
}
.restricted-hand-icon.deselected {
  fill: var(--clr-divider);
  opacity: 0.95;
}

@media screen and (max-width: 670px) {
  .restricted-wrapper {
    padding: 20px 0px;
  }
}

@media screen and (max-width: 630px) {
  .restricted-content {
    flex-direction: column;
  }
  .restricted-header {
    margin: 10px 0px 5px 0px;
  }
  .restricted-content {
    margin: 0px 0px 0px 0px;
    gap: 5px;
  }
}

@media screen and (max-width: 525px) {
  .restricted-header-text {
    font-size: 1.8em;
  }
  .restricted-alert-left,
  .restricted-alert-right {
    width: 40px;
    height: 40px;
  }
  .restricted-stop-clipart {
    height: 150px;
    width: auto;
    margin: 10px 0px 10px 0px;
  }
}

@media screen and (max-width: 430px) {
  .restricted-text-hand {
    font-family: 'Patrick hand', sans-serif;
    font-size: 1.2em;
    color: var(--clr-text-grey);
    margin: 0px 0px 5px 0px;
    letter-spacing: 0.5px;
    cursor: default;
  }
  .restricted-header-text {
    font-size: 1.7em;
    letter-spacing: -0.6px;
  }
}

@media screen and (max-width: 670px) {
  .restricted-wrapper {
    padding: 20px 0px;
  }
}

@media screen and (max-width: 630px) {
  .restricted-content {
    flex-direction: column;
  }
  .restricted-header {
    margin: 10px 0px 5px 0px;
  }
  .restricted-content {
    margin: 0px 0px 0px 0px;
    gap: 5px;
  }
}

@media screen and (max-width: 525px) {
  .restricted-header-text {
    font-size: 2.8em;
  }
  .restricted-alert-left,
  .restricted-alert-right {
    width: 40px;
    height: 40px;
  }
  .restricted-stop-clipart {
    height: 150px;
    width: auto;
  }
}

@media screen and (max-width: 440px) {
  .restricted-text-hand {
    font-family: 'Patrick hand', sans-serif;
    font-size: 1.2em;
    color: var(--clr-text-grey);
    margin: 0px 0px 5px 0px;
    letter-spacing: 0.5px;
    cursor: default;
  }
  .restricted-header-text {
    font-size: 2.6em;
    letter-spacing: -0.6px;
  }
}
